<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">

</head>
<body>

<header th:fragment="header(barnav)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 10px">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav col-10" >
                <li class="nav-item">
                    <a class="nav-link" href="/">Accueil</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/book/" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Book
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/book/">Liste</a>
                        <a class="dropdown-item" href="/book/new">Ajout</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto" style="justify-content:flex-end">
                <li class="nav-item">
                    <a class="nav-link" href="/reservation/myreservation">Mes Reservations</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownAccount" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mon Compte
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownAccount">
                        <a class="dropdown-item" href="/user/connexion">Connexion</a>
                        <a class="dropdown-item" href="/user/new">Créer un Compte</a>
                    </div>
                </li>
            </ul>
        </div>

    </nav>
</header>
</body>
</html>