<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/block :: headerFragment"></head>

<header th:insert="fragment/header :: header(barnav)"></header>

<body>
<div class="row" style="justify-content: center;padding-top: 5px">
    <div class="container">
        <div class="card col-10" style="padding: 0">
            <div class="card-header">
                <h1>Nouvelle réservation</h1>
            </div>
            <form method="post" th:action="@{/reservation/new/{id}(id=${exemplaire.idBook})}" th:object="${exemplaire}">

            </form>
        </div>
    </div>
</div>

</div>
</body>
<footer th:insert="fragment/footer :: footer"></footer>
</html>